{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": true,
  "requirePragma": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": [
        "*.css",
        "*.scss"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
