.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  flex: 1;

  .loginForm {
    margin: auto;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);

    .formContent {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}