@use '../../presentation/theme/colors.module' as colors;
@use '../../presentation/theme/spacings.module' as spacings;

.page {
  background: colors.$space-grey-300;
  background: -webkit-linear-gradient(45deg, colors.$space-grey-100, colors.$space-grey-300);
  background: linear-gradient(45deg, colors.$space-grey-100, colors.$space-grey-300);
  padding: spacings.$spacing-md;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    flex: 1;

    .main {
      position: relative;
      display: flex;
      box-sizing: border-box;
      background-color: colors.$space-grey-100;
      flex: 1;
      max-height: 100%;
      overflow: auto;
      border-radius: 1rem;
      flex-direction: column;
    }
  }
}
