@use '../../presentation/theme/colors.module' as colors;

.button {
  width: 80px;
  height: 80px;
  background-color: colors.$orange-600 !important;
  margin: 0 auto !important;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
}